
/* Quasand fonts */
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}


/* Robot fonts */
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

/* Qanelas fonts */
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Regular.ttf");
}
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Bold.ttf");
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.row{
    display: flex;
}

.col{
    width: 50%;
}

.container{
    max-width: 1202px;
    margin: 0 auto;
}

.main-section{
    background: #1A1A1A;
    padding-top: 44px;
    padding-bottom: 49px;
}

.navbar-right{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    position: relative;
}

.navbar{
    justify-content: space-between;
    margin-bottom: 111px;
}

.navbar-right::after{
    background: url("./assets/images/Line12.png") no-repeat;
    position: absolute;
    content: "";
    width: 49px;
    height: 10px;
    top: 22px;
    right: -5px;
}

.additional_information h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -2.04px;
    font-family: qanelas ;
    margin-bottom: 27px;
}

.additional_information > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #A8A8A8;
    margin-bottom: 30px;
}

.send_message p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.416px;
}

.send_message{
    display: flex;
    color: #000000;
    align-items: center;
    border: none;
}

.proect-user h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 1px;
}

.proect-user p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.416px;
    color: #A8A8A8;
}
.num{
    margin-bottom: 52px;
}

.users-img::after{
    position: absolute;
    content: "";
    background: url("./assets/images/dec2.png") no-repeat;
    width: 70px;
    height: 141px;
    top: 0px;
    right: 0px;
}

.users-img{
    position: relative;
}

.users img{
    padding-right: 110px;
}

.line::after{
    position: absolute;
    content: "";
    background: url("./assets/images/dec3.png") no-repeat;
    width: 64px;
    height: 141px;
    top: -35px;
    right: -121px;
}

.line{
    position: relative;
}

.proect-user p{
    padding-right: 96px;
}

.other{
    background: #1A1A1A;
    padding: 60px 198px 108px 198px;
}

.other-reference{
    font-family: 'Qanelas';
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

.other-reference h2{
    text-align: center;
    margin-bottom: 65px;
}

.container-other{
    width: 971px;
    margin: 0 auto;
}

.icons{
    justify-content: space-between;
}

.additional_information {
    margin-right: 57px;
    width: 420px;
}

.main-section{
    padding-bottom: 178px;
}

.send{
    align-items: center;
    justify-content: center;
    display:flex
}

.send_message div:nth-child(1){
    background: #FAE824;
}

.send_message div:nth-child(2){
    background: #FFFFFF;
}

.send_message div{
    padding: 12px;
}

