
/* Quasand fonts */
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}


/* Robot fonts */
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

/* Qanelas fonts */
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Regular.ttf");
}
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Bold.ttf");
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
.row{
    display: flex;
}
.container{
    width: 1202px;
    margin: 0 auto;
}
.main-section{
    background: #1A1A1A;
    padding-top: 44px;
    padding-bottom: 49px;
   
}
.navbar-right{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    position: relative;
}
.navbar{
    justify-content: space-between;
}
.navbar-right::after{
    background: url("./assets/images/Line12.png") no-repeat;
    position: absolute;
    content: "";
    width: 49px;
    height: 10px;
    top: 22px;
    right: -5px;
}

