
/* Quasand fonts */
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "send";
    src: url("./assets/fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}


/* Robot fonts */
@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

/* Qanelas fonts */
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Regular.ttf");
}
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "qanelas";
    src: url("./assets/fonts/Qanelas-Bold.ttf");
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
    /* font-size: 0px; */
}

ul {
    list-style-type: none;
}

body{
    background-color: #1A1A1A;
}

.row{
    display: flex;
}

.col{
    width: 50%;
}

.container{
    max-width: 1202px;
    margin: 0 auto;
}

.main-section{
    margin-top: 44px;
    margin-bottom: 49px;
}

.navbar-right{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    position: relative;
}

.navbar{
    justify-content: space-between;
    margin-bottom: 111px;
}

.navbar-right::after{
    background: url("./assets/images/Line12.png") no-repeat;
    position: absolute;
    content: "";
    width: 49px;
    height: 10px;
    top: 22px;
    right: -5px;
}

.additional_information h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -2.04px;
    font-family: qanelas ;
    margin-bottom: 27px;
}

.additional_information > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #A8A8A8;
    margin-bottom: 30px;
}

.send_message p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.416px;
}

.send_message{
    display: flex;
    color: #000000;
    align-items: center;
    border: none;
}

.proect-user h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 1px;
}

.proect-user p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.416px;
    color: #A8A8A8;
    width: 168px;
}
.num{
    margin-bottom: 52px;
}

.users-img::after{
    position: absolute;
    content: "";
    background: url("./assets/images/dec2.png") no-repeat;
    width: 214px;
    height: 199px;
    top: 482px;
    right: 69px;
    z-index: 1;
}

.users-img{
    position: relative;
}

.users img{
    margin-right: 110px;
    position: relative;
    z-index: 2;
}

.line::after{
    position: absolute;
    content: "";
    background: url("./assets/images/dec3.png") no-repeat;
    width: 64px;
    height: 141px;
    top: -29px;
    right: -219px;
}

.line{
    position: relative;
}

.other{
    padding: 71px 198px 108px 198px;
}

.other-reference{
    font-family: 'Qanelas';
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

.other-reference h2{
    text-align: center;
    margin-bottom: 65px;
}

.container-other{
    width: 971px;
    margin: 0 auto;
}

.icons{
    justify-content: space-between;
}

.additional_information {
    margin-right: 56px;
    width: 420px;
}


.send{
    align-items: center;
    justify-content: center;
    display:flex
}

.send_message div:nth-child(1){
    background: #FAE824;
}

.send_message div:nth-child(2){
    background: #FFFFFF;
}

.send_message div{
    padding: 12px;
}

.proect-user{
    margin-top: 40px;
}
  /* services section */
  
.container-services{
    width: 1296px;
    margin: 0 auto;
    background: #232323;
    border-radius: 10px;
}

.services{
    margin-bottom: 110px ;
}

.service-users{
    width: 30%;
}

.service-users > h2{
    font-family: 'Qanelas';
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.service-users > p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #A8A8A8;
    margin-bottom: 48px;
}

.services-user h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    margin-bottom: 1px;
}

.services-user p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.416px;
    color: #A8A8A8;
}

.row-1{
    border-top: 1px solid #5E5E5E; 
    border-bottom: 1px solid #5E5E5E;
}

.row-2{
    border-bottom: 1px solid #5E5E5E;
}

.row-3{
    border-bottom: 1px solid #5E5E5E;
}

.row-4{
    border-bottom: 1px solid #5E5E5E;
}

.about-us{
    width: 70%;
}

    /* row-1 */

.row-1 h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.row-1 p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;  
    letter-spacing: 0.28px;
    color: #A8A8A8;
}

    /* row-2 */

.row-2 h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.row-2 p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;  
    letter-spacing: 0.28px;
    color: #A8A8A8;
   
}

    /* row-3 */

.row-3 h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.row-3 p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;  
    letter-spacing: 0.28px;
    color: #A8A8A8;

}

    /* row-4 */


.row-4 h2{
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.row-4 p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;  
    letter-spacing: 0.28px;
    color: #A8A8A8;
}

.about-us > div{
    padding: 30px 102px 30px  32px;
    justify-content: space-between;
}

.services-wrapper{
    padding: 67px 59px 84px 38px;
}

.clients{
    margin-bottom: 52px;
}

.about-us .about-us-item-img{
    width: 20%;
}

.about-us h2{
    width: 30%;
}

.about-us P{
    width: 50%;
}

.services-wrapper > .row{
    align-items: center;
}

/* Latest works section */

.latest-works{
    margin-bottom: 110px;
}

.latest-works-left > h2{
    font-family: 'Qanelas';
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.latest-works-left > p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #A8A8A8;
    margin-bottom: 35px;
    max-width: 271px;
}

.latest-works-left{
    width: 30%;
}

.latest-works-right{
width:  70%;
}

.all{
    border-radius: 9px;
    background: #262837;
}

.all h2{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.63px;
    color: #FFFFFF;
}

.all p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.336px;
    color: #A8A8A8;
}


.tekfin p{
    margin-bottom:99px;
}

.investment-app p{
    margin-bottom: 13px;
}

.latest-works-right{
    display: flex;
}

.nft-left, .nft-right{
    width: 50%;
}

.nft-left{
    margin-right: 41px;
}

.send-button-2 p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.416px;
}

.send-button-2{
    display: flex;
    color: #000000;
    align-items: center;
    border: none;
}

.send-icon{
    align-items: center;
    justify-content: center;
    display:flex
}

.send-button-2 div:nth-child(1){
    background: #FAE824;
}

.send-button-2 div:nth-child(2){
    background: #FFFFFF;
}

.send-button-2 div{
    padding: 12px;
}


/* section-approach */

.wrapper-approach{
    display: flex;
    justify-content: space-between;
}

.my-approach{
    margin-bottom: 110px;
}

.basic h2{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    margin-bottom: 64px;
}

.all-reference{
    background: #262525;
    border-top: 5px solid #A8A8A8;
    padding: 42px 23px 52px 29px;
    width: 368px;
}

.all-reference h3{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;    
    line-height: 37px;
    letter-spacing: -0.63px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.all-reference h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.378px;
    color: #A8A8A8;
    margin-bottom:12px ;
}

.all-reference p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #A8A8A8;
}
/* section-about-me */

.about-me{
    background: #1A1A1A;
    margin-bottom: 110px;
}

.aboutme h2{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    margin-bottom: 56px;
}

.aboutme img{
    border-radius: 8px;
    margin-right: 37px;
}

.my-skills p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #A8A8A8;
    margin-top: 199px;
    margin-bottom: 57px;
}

.skills h3{
    font-family: 'Qanelas';
    font-style: normal; 
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.wrapper-skills{
    display: flex
}

.skills > .wrapper-skills{
    margin-bottom: 61px;
}

.skills h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    color: #A8A8A8;
    position: relative;
}

.coder h4::before{
    position: absolute;
    background: url("./assets/images/3325098_code_icon.png")no-repeat;
    content: "";
    width: 30px;
    height: 20px;
    top: 0px;
    left: -51px;
}

.coder {
    margin-left: 51px;
}

.photography h4::before{
    position: absolute;
    content: "";
    background: url("./assets/images/370090_camera_photo_photos_picture_image_icon.png")no-repeat;
    width: 30px;
    height: 25px;
    top: -6px;
    left: -49px;
}

.photography {
    margin-left: 150px;
}

.illustrating{
    margin-left: 51px;
}

.illustrating h4::before{
    background:url("./assets/images/2760492_art_color_design_drawing_illustration_icon.png")no-repeat ;
    content: "";
    position: absolute;
    width: 30px;
    height: 27px;
    top: -4px;
    left: -51px;
}

.user-research{
    margin-left: 168px;
}

.user-research h4::before{
    background: url("./assets/images/Icon-Search.png")no-repeat;
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: -9px;
    left: -46px;
}

.digart-nft{
    background: url("./assets/images/Pattern-fill-6f8f32ff650cdb4879d9020446f4a2e6.png") no-repeat;
    height: 396px;
    height: 396px;
    margin-bottom: 50px;
    background-position: bottom;
    background-color: #262837;
    padding-top: 34px;
    padding-left: 27px;
}

.jiwa-raga{
    margin-bottom: 50px;
    background: url("./assets/images/Pattern-fill-127de44a01d68442528f008bf0ddb6bc.png") no-repeat;
    height: 563px;
    padding-top: 34px;
    padding-left: 27px;
    background-position: bottom right;
    background-color: #262837;
}

.tekfin{
    margin-bottom: 50px;
    background: url("./assets/images/Pattern-fill-9dd399cb9524ab6471284d560ec36675.png") no-repeat;
    height: 563px;
    background-position: bottom right;
    background-color: #262837;
    padding-top: 25px;
    padding-left: 26px;
}

.investment-app{
    background: url("./assets/images/Pattern-fill-a96e7f0c7d359fb58f6ecf57aed3b236.png") no-repeat;
    height: 396px;
    background-position: bottom right;
    background-color: #262837;
    padding-top: 28px;
    padding-left: 32px;
}

.last-wrapper{
    display: flex;
}

.last-section{
    padding-bottom: 71px;
}

.working-me{
    margin-right: 435px;
}

.working-me > p{
    width:370px;
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.social h4{
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    padding-top: 21px;
    margin-bottom: 22px;
}

.social p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.364px;
    color: #FFFFFF;
}

.social a{
    color: #FFFFFF;
    text-decoration: underline #FFFFFF;
}

.social img{
    margin-bottom: 87px;
}